body{
    margin: 200px;
    padding: 0;
	background: url(img1.jpg) no-repeat;
    height:90%;
	width:70%;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 800px;
    height: 800px;
    background: #fff;
    opacity: 0.85;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-20%);
    box-sizing: border-box;
    padding: 70px 30px;
	border-radius: 10px;
}

h1{
	font-size: 50px;
	text-align: center;
	padding: 20px;
}

h2{
	font-size: 30px;
	text-align: center;
	padding: 16px;
	border: none;
    opacity: 1;
	width: 450px;
    border-bottom: 5px solid #fb007d;
}

h3{
	font-size: 20px;
	text-align: center;
	padding: 16px;
	border: none;
    opacity: 1;
	width: 450px;
    border-bottom: 5px solid #fb007d;
}

    a{
    display: block;
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 16px;
    font-family: 'Trebuchet MS';
    border-radius: 15px;
    text-decoration: none;
    }

a:hover {
  background-color: rgb(110, 221, 88);
}

p{
	font-size: 20px;
	 text-align: center;
	padding: 16px;
}